<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C 주차구역</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script>
        function takeURL(){
            var url='';
            var textarea = document.createElement("textarea");
            document.body.appendChild(textarea);
            url = window.location.href;
            textarea.value = url;
            textarea.select();
            document.execCommand("copy");
            document.body.removeChild(textarea);
            alert("주소가 복사되었습니다.");
        }
    </script>
</head>
<body>
    <% var latitude = 36.338053302047 %>
    <% var longitude = 127.446932283495 %>
    <header>
        <a href="/">
            <div class="menubar">
                <img class="logo" src="/images/WSU_logo.png">
                <p class="test">우송 주차 현황</p>
            </div>
        </a>
    </header>
    <div class="main_img">
        <svg class="svg_size"  viewBox="0 0 132 95" version="1.1" id="parkmap" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet">
            <g id="layer1">

                <g id="g88" transform="matrix(0.42758164,0,0,0.42859526,0,1.2906432e-4)">
                <g id="layer2" transform="translate(10.855858,1)">
                <g id="g426" transform="translate(-85.460416)" style="display:inline">
                    <path style="fill:rgb(226 232 240 / 0);" id="rect398" d="m 202.91839,0.00437932 c -0.94736,0 -1.71013,0.76233915 -1.71013,1.70970578 v 1.1623106 l -0.002,0.00121 v 33.6648063 h 0.0109 v 65.287128 h -0.002 v 18.29072 c 0,0 0.48139,8.2268 -3.3405,12.04872 -4.55224,4.55223 -15.97252,4.16696 -15.97252,4.16696 h -7.34692 c -0.0275,-0.001 -0.0543,-0.004 -0.0822,-0.004 h -32.68832 c -0.94736,0 -1.71013,0.76235 -1.71013,1.7097 v 15.47537 c 0,0.003 0.001,0.008 0.001,0.0109 v 52.17617 l 0.001,0.002 v 2.53562 c 0,0.94737 0.76276,1.7097 1.71013,1.7097 h 3.79251 28.8946 141.42499 l 0.0109,-0.006 h 2.40507 c 0.94736,0 1.71013,-0.76234 1.71013,-1.70971 v -2.74059 l 10e-4,-0.002 v -51.89886 c 0.001,-0.0241 0.004,-0.0479 0.004,-0.0723 v -15.47537 c 0,-0.94737 -0.76156,-1.70971 -1.70893,-1.70971 h -2.66974 l -0.002,-0.001 h -78.27817 c -2.12583,-0.10469 -5.53424,-0.4128 -8.59901,-1.31182 -2.54596,-0.74682 -2.53684,-4.03805 -2.735,-7.92518 -0.43364,-8.50631 7.07862,-14.48065 7.07862,-14.48065 v -0.0519 c 0.51529,-0.29081 7.1163,-3.97895 15.88188,-6.99074 7.41771,-2.54863 15.2096,-3.48028 17.42039,-3.70637 h 23.04148 l 0.002,-0.002 h 1.04058 c 0.004,0 0.008,-0.002 0.0121,-0.002 h 80.56237 c 1.34741,0 2.43165,-1.08451 2.43165,-2.431922 v -3.367565 c 0,-1.347412 -1.08424,-2.43193 -2.43165,-2.43193 h -69.39448 c 0,0 -0.58598,-0.121063 -0.76393,-0.334208 -0.18758,-0.224686 -0.20168,-0.853849 -0.20168,-0.853849 l 0,-56.472682 -0.001,-0.0012 v -3.766657 c 0,-0.947368 -0.76278,-1.709706 -1.71013,-1.709706 l -29.84532,0 c -0.86267,-0.33081 -11.96622,-4.096092 -24.74656,-9.231208 -8.95715,-3.598969 -15.58208,-5.566073 -23.03534,-10.407197 -9.17046,-5.9564969 -8.80484,-4.696288 -14.10672,-9.0578804 -0.66667,-0.6094157 -0.38913,-0.3556956 -1.15298,-1.04776755 -0.44225,-0.40069191 -0.78656,-0.73997065 -1.19407,-0.74633843 -0.74934,-0.01114202 -1.31105,0 -2.00503,0 z" />
                </g>
                </g>
                <g id="layer3" style="display:inline" transform="translate(3.508102,1)">
                <path style="fill:rgb(226 232 240 / 0);" id="rect774" d="m 5.4802856,102.02616 c -3.0361227,0 -5.4802856,2.44416 -5.4802856,5.48028 v 11.9705 7.31429 77.81334 c 0,2.96848 2.3898429,5.35832 5.3583293,5.35832 l 36.7254917,0 c 2.968486,0 5.363991,-2.38985 5.358329,-5.35832 l -0.154698,-81.10062 c 0,0 -0.04373,-0.95153 0.397563,-1.39283 0.452131,-0.45213 1.520666,-0.47941 1.520666,-0.47941 l 55.251119,0 c 3.03612,0 5.42596,-2.44463 5.48028,-5.48028 l 0.1547,-8.64499 c 0.0543,-3.03564 -2.44416,-5.48028 -5.48028,-5.48028 z" />
                <rect style="fill:rgb(226 232 240 / 0);" id="rect807" width="87.107597" height="87.90229" x="22.225676" y="0" ry="2.1779845" />
                <text x="130" y="100" style="font: 16px bold; fill: rgb(31 41 55); font-weight: 800; opacity: 1;">준비중</text>
                </g>
                </g>
                </g>
            </svg>  
            <div class="icon">
                <svg class="home" onclick="location.href='/'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                    <path  d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
                </svg>
    
                <svg class="cash" id="modal_icon" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M4 4a2 2 0 00-2 2v4a2 2 0 002 2V6h10a2 2 0 00-2-2H4zm2 6a2 2 0 012-2h8a2 2 0 012 2v4a2 2 0 01-2 2H8a2 2 0 01-2-2v-4zm6 4a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd" />
                </svg>
    
                <svg class="goto_map" onclick="location.href='https://map.kakao.com/link/to/ ,<%= latitude %>,<%= longitude %>'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                    <path d="M12 1.586l-4 4v12.828l4-4V1.586zM3.707 3.293A1 1 0 002 4v10a1 1 0 00.293.707L6 18.414V5.586L3.707 3.293zM17.707 5.293L14 1.586v12.828l2.293 2.293A1 1 0 0018 16V6a1 1 0 00-.293-.707z" clip-rule="evenodd" />
                </svg>
                  
                <svg class="share" onclick="takeURL();" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" >
                    <path  d="M15 8a3 3 0 10-2.977-2.63l-4.94 2.47a3 3 0 100 4.319l4.94 2.47a3 3 0 10.895-1.789l-4.94-2.47a3.027 3.027 0 000-.74l4.94-2.47C13.456 7.68 14.19 8 15 8z" />
                </svg>
    
                <svg class="email" onclick="location.href='https://github.com/JoonHyug/ParkSystem/issues'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                    <path  fill-rule="evenodd" d="M14.243 5.757a6 6 0 10-.986 9.284 1 1 0 111.087 1.678A8 8 0 1118 10a3 3 0 01-4.8 2.401A4 4 0 1114 10a1 1 0 102 0c0-1.537-.586-3.07-1.757-4.243zM12 10a2 2 0 10-4 0 2 2 0 004 0z" clip-rule="evenodd" />
                </svg>
            </div>
        </div>
        <div id="modal" class="modal-overlay">
            <div class="modal-window">
                <div class="title">
                    <h2>주차 요금</h2>
                </div>
                <div class="close-area">X</div>
                <div class="content">
                </div>
                <table class="ticket">
                    <tbody>
                        <tr>
                            <td class="n_border">입차 시간</td>
                            <td class="n_border">출차 시간</td>
                            <td class="n_border" rowspan="3"><svg onclick="cal_cash();" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M6 2a2 2 0 00-2 2v12a2 2 0 002 2h8a2 2 0 002-2V4a2 2 0 00-2-2H6zm1 2a1 1 0 000 2h6a1 1 0 100-2H7zm6 7a1 1 0 011 1v3a1 1 0 11-2 0v-3a1 1 0 011-1zm-3 3a1 1 0 100 2h.01a1 1 0 100-2H10zm-4 1a1 1 0 011-1h.01a1 1 0 110 2H7a1 1 0 01-1-1zm1-4a1 1 0 100 2h.01a1 1 0 100-2H7zm2 1a1 1 0 011-1h.01a1 1 0 110 2H10a1 1 0 01-1-1zm4-4a1 1 0 100 2h.01a1 1 0 100-2H13zM9 9a1 1 0 011-1h.01a1 1 0 110 2H10a1 1 0 01-1-1zM7 8a1 1 0 000 2h.01a1 1 0 000-2H7z" clip-rule="evenodd" />
                            </svg></td>
                        </tr>
                        <tr>
                            <td class="n_border"><input type="time" id="entry" min="06:00:00"></td>
                            <td class="n_border"><input type="time" id="departure" max="24:00:00"></td>
                            
                        </tr>
                        <tr>
                            <td class="n_border" colspan="2"><p id="cash_result">주차 요금 : </p></td>
                        </tr>
                        <tr>
                            <td rowspan="5">일반주차</td>
                            <td>최초 30분</td>
                            <td>500원</td>
                        </tr>
                        <tr>
                            <td>최초 30분초과 10분당</td>
                            <td>100원</td>
                        </tr>
                        <tr>
                            <td>6시간 ~ 12시간</td>
                            <td>10000원</td>
                        </tr>
                        <tr>
                            <td>12시간 ~ 18시간</td>
                            <td>20000원</td>
                        </tr>
                        <tr>
                            <td>18시간이상</td>
                            <td>20000원+시간요금</td>
                        </tr>
                        <tr>
                            <td rowspan="3">정기권</td>
                            <td>교직원<br>강사/외래교원<br>용역/임대 업체</td>
                            <td>15,000원/월</td>
                        </tr>
                        <tr>
                            <td>외주업체, 장기공사차량<br>기타 차량(관리과승인)</td>
                            <td>20,000원/월</td>
                        </tr>
                        <tr>
                            <td>본 대학 학생</td>
                            <td>12,000원/월</td>
                        </tr>
                        <tr>
                            <td colspan="3">전일 24:00부터 익일 06:00까지 무료개방</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <script>
            const modal = document.getElementById("modal");
            const modal_icon = document.getElementById("modal_icon");
            const modal_close = modal.querySelector(".close-area");
            function modalOn(){
                modal.style.display = "flex";
            }
            function modalOff(){
                modal.style.display = "none";
            }
            modal_icon.addEventListener("click", e => {
                modalOn();
            })
            modal_close.addEventListener("click", e => {
                modalOff();
            })
            modal.addEventListener("click", e => {
                const evTarget = e.target;
                if(evTarget.classList.contains("modal-overlay")){
                    modalOff();
                }
            })
    
            function cal_cash() {
                var a_time = document.getElementById("entry").value;
                var b_time = document.getElementById("departure").value;
                if(a_time > b_time){
                    alert("입차 시간을 잘못 입력했습니다.");
                    return false;
                }
                var a_time_s = a_time.split(":");
                var b_time_s = b_time.split(":");
                
                var time = (b_time_s[0] - a_time_s[0]) * 60 + (b_time_s[1] - a_time_s[1]);
                var cash = 0;
    
                if(time < 30){
                    cash += 500;
                } else if(time >= 30 && time < 360) {
                    time -= 30;
                    cash += 500;
                    while(time > 0){
                        time -= 10;
                        cash += 300;
                    }
                } else if(time >= 360 && time < 720) {
                    cash = 10000;
                } else if(time >= 720 && time < 1080) {
                    cash = 20000;
                } 
                document.getElementById("cash_result").textContent = document.getElementById("cash_result").innerText + " " + cash + "원";
                console.log(time);
                console.log(cash);
                return false;
            };
        </script>
</body>
</html>