<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edit Data Data</title>
</head>
<body>
  <h1>Edit Data Info</h1>
  <hr/>
  <form method="post">
    <fieldset>
      <legend>Edit Data Info</legend>
      <table>
        <tr>
          <td><label>id</label></td>
          <td><input type="text" name="id" value="<%= data.park_locate %>" disabled /></td>
        </tr>
        <tr>
          <td><label>state</label></td>
          <td><input type="radio" name="state" value='true' />true</td>
          <td><input type="radio" name="state" value='' checked/>false</td>
        </tr>
      </table>
      <input type="submit" value="Submit!" />
    </fieldset>
  </form>
</body>
</html>