<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>우송 주차 현황</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    
</head>
<body>
    <header>
            <div class="menubar">
                <img class="" src="/images/WSU_logo.png" height="70px">
                <a class="test">우송 주차 현황</a>
            </div>
            <div class="test1">
                <a href="./DBmanage" ><button class="test_button">관리</button></a>
            </div>
    </header>

    <div id="map" style="width:100%;height:800px;"></div>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=279dfcb5118231a09c15c572ff511d68">
    </script>
    <script>
        park_area =[
        {
            "name":"A",
            "latitude":36.3394356377478, 
            "longitude": 127.447190803451
        },
        {
            "name":"B",
            "latitude":36.3382083742845,
            "longitude":127.445223395473
        },
        {
            "name":"C",
            "latitude": 36.338053302047,
            "longitude":127.446932283495
        },
        {
            //지워야 할거 같음
            "name":"D",
            "latitude": 36.3380143884459,
            "longitude":127.447096355005
        },
        {
            "name":"E",
            "latitude": 36.3380449702238,
            "longitude":127.44735271687
        },
        {
            "name":"F",
            "latitude": 36.336826550018,
            "longitude":127.446638461458
        },
        {
            "name":"G",
            "latitude": 36.3354608192731,
            "longitude":127.444341764188
        },
        {
            "name":"H",
            "latitude": 36.3348972014457,
            "longitude":127.452252197576
        },
        {
            "name":"I",
            "latitude": 36.3345579718001,
            "longitude":127.452592732347
        },
        {
            "name":"J",
            "latitude":36.3354860267973, 
            "longitude": 127.452038406354
        },
        {
            "name":"K",
            "latitude": 36.3367791550832,
            "longitude":127.453243254584
        },
        {
            "name":"L",
            "latitude": 36.3368396150075,
            "longitude":127.453934185306
        }
        ];
        
        var container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스
        var options = { //지도를 생성할 때 필요한 기본 옵션
	        center: new kakao.maps.LatLng(36.33772801771988, 127.4495646858748), //지도의 중심좌표.
	        level: 3 //지도의 레벨(확대, 축소 정도)
        };
        var map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴

        for(var i=0;i<Object.keys(park_area).length;i++){
            var temp = park_area[i]["name"];
            var imageSrc = '/images/marker_'+temp+'.svg',
                imageSize = new kakao.maps.Size(50, 50), // 마커이미지의 크기입니다
                imageOption = {offset: new kakao.maps.Point(27, 50)}; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.
            var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption),
            markerPosition = new kakao.maps.LatLng(park_area[i]["latitude"], park_area[i]["longitude"]); // 마커가 표시될 위치입니다
            window['marker_'+temp] = new kakao.maps.Marker({
                position: markerPosition,
                image: markerImage // 마커이미지 설정 
            });
            window['marker_'+temp].setMap(map);
        }
        //var temp = "H";
        //var imageSrc = '/images/marker_'+temp+'.svg',
        //    imageSize = new kakao.maps.Size(50, 50), // 마커이미지의 크기입니다
        //    imageOption = {offset: new kakao.maps.Point(27, 69)}; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.
        
        //var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption),
        //    markerPosition = new kakao.maps.LatLng(park_area[1]["latitude"], park_area[1]["longitude"]); // 마커가 표시될 위치입니다

        ////var marker_test = "var marker_" + temp;
        ////var a = eval(marker_test);
        //window['marker_'+temp] = new kakao.maps.Marker({
        //    position: markerPosition,
        //    image: markerImage // 마커이미지 설정 
        //});
        ////a.setMap(map);  //사용법 1 //보안성 매우 취약
        //window['marker_'+temp].setMap(map); //사용법 2

        



		// 마커에 클릭 이벤트를 등록한다 (우클릭 : rightclick)
		kakao.maps.event.addListener(marker_A, 'click', function() {
		  open("./AreaA", "_self","A");
		});

        kakao.maps.event.addListener(marker_B, 'click', function() {
		  open("./AreaB","B");
		});

        kakao.maps.event.addListener(marker_C, 'click', function() {
		  open("./AreaC","C");
		});

        kakao.maps.event.addListener(marker_D, 'click', function() {
		  open("./AreaD","D");
		});

        kakao.maps.event.addListener(marker_E, 'click', function() {
		  open("./AreaE","E");
		});

        kakao.maps.event.addListener(marker_F, 'click', function() {
		  open("./AreaF","F");
		});

        kakao.maps.event.addListener(marker_G, 'click', function() {
		  open("./AreaG","G");
		});

        kakao.maps.event.addListener(marker_H, 'click', function() {
		  open("./AreaH","H");
		});

        kakao.maps.event.addListener(marker_I, 'click', function() {
		  open("./AreaI","I");
		});

        kakao.maps.event.addListener(marker_J, 'click', function() {
            open("./AreaJ","J");
        });


        //지역 이름 JSON화 가능 및 for문으로 간결하게
        var iwContent = '<a href="./AreaI"><div class="overlay_text">우송정보대학 앞</div></a>'; // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
        var customOverlay = new kakao.maps.CustomOverlay({
            position: new kakao.maps.LatLng(park_area[8]["latitude"], park_area[8]["longitude"]),
            content: iwContent
        });
        
        //이거는 전부 작성 해야할듯?
        kakao.maps.event.addListener(marker_I, 'mouseover', function() {
            // 마커에 마우스오버 이벤트가 발생하면 인포윈도우를 마커위에 표시합니다
            //marker_I.setMap();
            customOverlay.setMap(map);
        });
        kakao.maps.event.addListener(marker_I, 'mouseout', function() {
            // 마커에 마우스오버 이벤트가 발생하면 인포윈도우를 마커위에 표시합니다
            //marker_I.setMap(map);
            customOverlay.setMap();
        });

        function setDraggable(draggable) {
            // 마우스 드래그로 지도 이동 가능여부를 설정합니다
            map.setDraggable(draggable);    
        }
        function setZoomable(zoomable) {
            // 마우스 휠로 지도 확대,축소 가능여부를 설정합니다
            map.setZoomable(zoomable);    
        }
        setDraggable(false);
        setZoomable(false);
    </script>
</body>
</html>