*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    color: black;
}
body{
    max-width: 1920px;
    margin: auto;
    background-color: rgb(226 232 240 / 0.5);
    /* background-color: #f4f4f4; */
}
.logo{
    height: 50px;
}
header{
    position: relative;
}
.menubar{
    position: absolute;
    left: 50%;
    transform:translate(-50%, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 800px;
}
#map{
    max-width: 100vw;
    width: 100%;
    height: 800px;
}
.test{
    font-size:1.75rem;
}
.test1{
    position: absolute;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.test_button{
    width: 50px;
    height: 50px;
}

#map{
    display: block;
    position: relative;
    top: 50px;
}
.overlay_text{
    display: block;
    line-height: 35px;
    background: blue;
    border: 2px solid black;
    color: white;
    height:35px;
    width: 100%;
    padding: auto;
    text-align: center;
    top:auto;
    border-radius: 50%;
    z-index: 1;
}
/* AreaB */
.hidden{
    position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}
.main_img{
    position: relative;
    width: 100%;
    
    /* width: 1920px; */
    top: 80px;
    text-align: center;
}
.other_parts{
    fill: rgb(248 250 252);
    /* fill: rgb(209 213 219); */
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.2)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.15));
    /* fill: #D49A89; */
}
.park_parts{
    fill: rgb(248 250 252);
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.2)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.15));
    /* fill: #596E79; */
}
.svg_size{
    height: 100%;
    width: 63%;
}
.park_area_list{
    position: static;
    width: 100%;
    height: 100%;
}
.park_area_list > svg{
    /* width: 23px;
    height: 49px;
    width: 2.6vmin;
    height: 5vmin; */
    width: 1.2%;
    height: 5.5%;
    position: absolute;
    border-radius: 4px;    
}
/* park_area_size */
.areaB1 > svg{
    /* transform: translate(-220%); */
    top: 12%;
}
.areaB2 > svg{
    transform: rotate(90deg);
    left: 62%;
}
.areaB3 > svg{
    top: 21%;
}
.areaB4 > svg{
    top: 27%;
}
.areaB5 > svg{
    top: 36%;
}
.areaB6 > svg{
    top: 63%;
}
.areaB7 > svg{
    top: 73%;
}
.areaB8 > svg{
    top: 79%;
}
.areaB9 > svg{
    top: 88%;
}
.areaB10 > svg{
    top: 73%;
}
.areaB11 > svg{
    top: 79%;
}
.areaB12 > svg{
    top: 88%;
}
.areaB13 > svg{
    transform: rotate(90deg);
    left: 33%;
}
/* 경차 */
/* .park_area_A-77{
    top: 93.8% !important;
    height: 4.5% !important;
    fill: orange;
}
.park_area_A-78{
    top: 93.8% !important;
    height: 4.5% !important;
    fill: orange;
} */
/* 장애인 */
/* .park_area_A-101{
    fill: #FFD93D;
}
.park_area_A-108{
    fill: #FFD93D;
}
.park_area_A-109{
    fill: #FFD93D;
}
.park_area_A-110{
    fill: #FFD93D;
} */
.notify{
    position: static;
}
.area_count{
    top: 44%;
}
.park_false{
    top: 52%;
}
.park_true{
    top: 60%;
}

.area_count_text{
    position: static;
    display: flex;
    float: right;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font: 1.3rem bold;
    line-height: 1%;
    vertical-align: middle;
}
.notify > div{
    display: flex;
    /* justify-content: space-between; */
    position: absolute;
    height: 3%;
    width: 4%;
    padding: 0.4%;
    border-radius: 100rem;
    background-color: rgb(248 250 252);
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.2)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.15));
    left: 2%;
    text-align: left;
}
.icon{
    position: static;
}
.icon > svg{
    position: absolute;
    height: 3%;
    padding: 0.4%;
    border-radius: 100rem;
    background-color: rgb(248 250 252);
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.2)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.15));
    cursor: pointer;
    left: 2%;
    fill: rgb(31 41 55);
}

.home{
    top: 68%;
}
.goto_map{
    top: 76%;
}
.share{
    top: 84%;
}
.email{
    top: 92%;
}