*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: beige;
}
.logo{
    height: 70px;
}
header{
    position: relative;
}
.menubar{
    position: absolute;
    left: 50%;
    transform:translate(-50%, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.test{
    font-size:1.75rem;
}
.test1{
    position: absolute;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.test_button{
    width: 80px;
    height: 80px;
}

#map{
    display: block;
    position: relative;
    top: 80px;
}
.overlay_text{
    display: block;
    line-height: 35px;
    background: blue;
    border: 2px solid black;
    color: white;
    height:35px;
    width: 100%;
    padding: auto;
    text-align: center;
    top:auto;
    border-radius: 50%;
    z-index: 1;
}
/* AreaB */
.hidden{
    position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}
.main_img{
    position: relative;
    width: 100%;
    
    /* width: 1920px; */
    top: 80px;
    text-align: center;
}
.other_parts{
    fill:pink;
}
.park_parts{
    fill: blue;
}
.svg_size{
    height: 100%;
    width: 60%;
}
.park_area_list{
    position: static;
    width: 100%;
    height: 100%;
}
.park_area_list > svg{
    /* width: 23px;
    height: 49px;
    width: 2.6vmin;
    height: 5vmin; */
    width: 1%;
    height: 5.5%;
    position: absolute;
}
/* park_area_size */
.areaB1 > svg{
    /* transform: translate(-220%); */
    top: 14%;
}
.areaB2 > svg{
    transform: rotate(90deg);
    left: 59.6%;
}
.areaB3 > svg{
    top: 23%;
}
.areaB4 > svg{
    top: 29%;
}
.areaB5 > svg{
    top: 38%;
}
.areaB6 > svg{
    top: 65.7%;
}
.areaB7 > svg{
    top: 76%;
}
.areaB8 > svg{
    top: 82%;
}
.areaB9 > svg{
    top: 93%;
}
.areaB10 > svg{
    top: 76%;
}
.areaB11 > svg{
    top: 82%;
}
.areaB12 > svg{
    top: 93%;
}
.areaB13 > svg{
    transform: rotate(90deg);
    left: 32%;
}
.park_area_A-77{
    top: 93.8% !important;
    height: 4.5% !important;
    fill: orange;
}
.park_area_A-78{
    top: 93.8% !important;
    height: 4.5% !important;
    fill: orange;
}
.park_area_A-101{
    fill: yellow;
}
.park_area_A-108{
    fill: yellow;
}
.park_area_A-109{
    fill: yellow;
}
.park_area_A-110{
    fill: yellow;
    fill-opacity:0.399142;
}